.dropdown-menu {
	position: absolute !important;
	padding: 0px;
	border: 0px none;
	right: 0px;
	left: auto;
	min-width: 100%;
	/*background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7) !important;*/
}

.dropdown-menu>li>a {
	/*color: #F0F0F0;*/
}

.dropdown-menu>li>a>i {
	border: 0px none;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	width: 20px;
	display: inline-block;
	/*text-align: center;*/
	vertical-align: middle;
	color: #7BC5D3;
	line-height: 1em;
}